.App {
  font-family: sans-serif;
  text-align: center;
}

/* Login section */

.login {
  border: solid 1px rgb(201, 201, 201);
  border-radius: 2px;
  box-shadow: rgb(160, 155, 155) 1px 1px;
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  height: 50vh;
}
#form p {
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: smaller;
}
#email,
#password {
  margin: 10px;
  /* border: none; */
  border: solid 1px rgb(201, 201, 201);
  border-radius: 1px;
  box-shadow: rgb(160, 155, 155) 1px 1px;
  padding: 5px;
}

#google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

#google img {
  width: 45px;
}

#all {
  color: black;
}

h6 {
  display: flex;
  align-items: center;
}
/* From Uiverse.io by bandirevanth */
.btn-f {
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin: auto;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: rgb(6, 14, 131);
  background: linear-gradient(
    0deg,
    rgba(6, 14, 131, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
  border: none;
}

/* ////profile page */
.main-p p {
  font-weight: bold;
  text-align: left;
}

.main-p img {
  height: 15vh;
  border-radius: 50%;
  border: #000000 3px solid;
}
@media screen and (min-width: 480px) {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  .login img {
    width: 15vw;
  }
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
@media screen and (width >480px) {
  .btn-f {
    margin: 5% 15%;
  }
}
